<!-- <div class="container">
  <div class="row">
    <div class="col" *ngFor="let product of products$ | async">
      <div class="card shadow-sm bg-white rounded " style="width: 18rem;" >
        <img class="card-img-top" [src]="product.imageUrl" >
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <h5 class="card-text"> {{ product.price | currency: 'USD' }}</h5>
          <p> <a class="btn btn-primary" (click)="addToCart(product.key)">Add to Cart</a> </p>
        </div>
      </div>
      <div class="mb-3"></div>
    </div>
  </div>
</div> -->